name: Build

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build-os:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
    steps:
      - uses: linz/action-typescript@v3

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: linz/action-typescript@v3